<div class="container">
<div class="card">
	<div class="card-header">
		Cities
	</div>
	<div class="card-body">
	</div>
	<div class="card-footer">
		<table class="table table-hover">
			<thead>
				<b>General Information</b>
			</thead>
			<tbody>
				<tr>
					<td>
						Name
					</td>
					<td>
						Placeholder Name
					</td>
				</tr>
				<tr>			
					<td>
						Population
					</td>
					<td>
						Placeholder Population
					</td>
				</tr>
				<tr>			
					<td>
						Population Density
					</td>
					<td>
						Placeholder Population Density
					</td>
				</tr>
				<tr>					
					<td>
						Area
					</td>
					<td>
						Placeholder Area
					</td>									
				</tr>
			</tbody>
		</table>
	</div>
</div>


</div>