<div class="container" >

	<div class="card">
		<div class="card-header">
			<div class="city-buttons btn-group btn-group-justified" ng-repeat="city in dashboard.cities">
				<button class="btn" ng-click="dashboard.setCity(city.name)">{{city.name}}</button>

			</div>
			<br>
			Selected city on the map:
		</div>
		<div class="card-body">
			<div id="mapCities"></div>
		</div>
	</div>


	<div class="card">


		<div class="card-header">

	</div>

		<div class="card-body">
	</div>

		<div class="card-footer">
		<table class="table table-hover">
			<thead>
				<b>General Information</b>
			</thead>
			<tbody>
				<tr>
					<td>
						Name
					</td>
					<td>
						{{dashboard.selectedCity.name}}
					</td>
				</tr>
				<tr>			
					<td>
						Population
					</td>
					<td>
						{{dashboard.selectedCity.population}}
					</td>
				</tr>
				<tr>			
					<td>
						Population Density
					</td>
					<td>
						{{dashboard.selectedCity.population/dashboard.selectedCity.area}}
					</td>
				</tr>
				<tr>					
					<td>
						Area
					</td>
					<td>
						{{dashboard.selectedCity.area}}
					</td>									
				</tr>
			</tbody>
		</table>
	</div>

	</div>


	<div class="card">
	<div class="card-header">
		Convoy
	</div>
	<div class="card-body">
		<table class="table table-hover">
			<thead>
				<b>General Information</b>
			</thead>
			<div class="ng-repeat convoy in dashboard.convoylist">
			<tbody>
				<tr>			
					<td>
						Distance to Destination
					</td>
					<td>
						{{convoy.distanceFromCityBorder}}
					</td>
				</tr>
				<tr>			
					<td>
						Speed
					</td>
					<td>
						{{convoy.speedInKmPerHour}}
					</td>
				</tr>
				<tr>			
					<td>
						Origin
					</td>
					<td>
						{{convoy.origin}}
					</td>
				</tr>				
			</tbody>
		</table>		
	</div>	
</div>

</div>