<div class="container" >

	<div class="card">
		<div class="card-header">
			<div class="city-buttons" ng-repeat="city in dashboard.cities">
				<button class="btn" ngclick="dashboard.setCity(city.name)">{{city.name}}</button>

			</div>
			Selected city on the map:
		</div>
		<div class="card-body">
			<div id="mapCities"></div>
		</div>
	</div>


	<div class="card">


		<div class="card-header">

	</div>

		<div class="card-body">
	</div>

		<div class="card-footer">
		<table class="table table-hover">
			<thead>
				<b>General Information</b>
			</thead>
			<tbody>
				<tr>
					<td>
						Name
					</td>
					<td>
						{{dashboard.selectedCity.name}}
					</td>
				</tr>
				<tr>			
					<td>
						Population
					</td>
					<td>
						{{dashboard.selectedCity.population}}
					</td>
				</tr>
				<tr>			
					<td>
						Population Density
					</td>
					<td>
						{{dashboard.selectedCity.population/dashboard.selectedCity.area}}
					</td>
				</tr>
				<tr>					
					<td>
						Area
					</td>
					<td>
						{{dashboard.selectedCity.area}}
					</td>									
				</tr>
			</tbody>
		</table>
	</div>

	</div>


	<div class="card">
	<div class="card-header">
		Convoy
	</div>
	<div class="card-body">
		<table class="table table-hover">
			<thead>
				<b>General Information</b>
			</thead>
			<tbody>
				<tr>
					<td>
						Destination
					</td>
					<td>
						Destination Placeholder
					</td>
				</tr>
				<tr>			
					<td>
						Distance to Destination
					</td>
					<td>
						Distance to Destination Placeholder
					</td>
				</tr>
				<tr>			
					<td>
						Speed
					</td>
					<td>
						Speed Placeholder
					</td>
				</tr>
				<tr id="accordion" role="tablist" aria-multiselectable="true">					
					<td>
						Vehicles
					</td>
					<td role="tab" id="VehicleCollapse">
						<div id="heading">

							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="false" aria-controls="collapse">

								Show Vehicles

							</a>

						</div>

						<div id="collapse" class="collapse" role="tabpanel" aria-labelledby="heading" data-parent="#accordion">









						</div>

					</td>									
				</tr>
			</tbody>
		</table>		
	</div>	
</div>

</div>